   <app-top-nav-bar></app-top-nav-bar>
    <div class="container">
        <div class="row">
            <div class="col-12">
              <h4>Debounce Concept</h4>
            <form>
                <div class="row">
                    <div class="col-4">
                         <div class="form-group">
                            <input type="text" (keyup)="betterFun()" class="form-control" id="search" placeholder="Enter search" name="search">
                        </div>
                    </div>
                </div>            
            </form>
            </div>
        </div>
    </div>
<app-footer></app-footer>